
/* Heading-Files */
h1{
    font-size: 1.7rem;
    color: #fff;
}
h3{
    color: #6096B4;
}
p{
    font-size: 1.3rem;
    color: #fff;
}

/* Navbar */
.navbar{
    /* background-color: #FFD4D4; */
    background-color: #91D8E4;
    /* background-color: #09192f; */
}
.link-text{
    font-family: "Montserrat",sans-serif;
    font-size: 1.25rem;
    color: #fff;
    position: relative;
    text-decoration: none;
    /* color: #b7c1e0; */
}
.link-text:after{
    opacity: 0;
    transition: all 0.3s;
}
.link-text:hover::after{
    content: '';
    opacity: 1;
    height: 3px;
    width: 100%;
    background-color:#F56EB3;
    position: absolute;
    bottom: 0;
    left: 0;
}
.link-text:hover {
    color: #6096B4;
}

/* Title */
.title{
    padding: 7% 8.5%;
    background-color:#91D8E4;
    padding-top: 3rem;
}
.name{
    font-size: 3rem;
    /* color: #fff; */
    /* color: #ccd6f6; */
    color: #6096B4;
    font-weight: bold;
}
.reveal{
    position: relative;
    transform: translateX(150px);
    opacity: 0;
    transition: all 1s ease;
}
.reveal.active{
    transform: translateX(0px);
    opacity: 1;
}
.intro{
    color: #6096B4;
}

/* Certificates.html */
#certificates{
    background-color: #91D8E4;
    padding-top: 3%;
}
.c-heading h1{
    text-align: center;
    font-size: 3rem;
    color: #A084DC;
}
.new{
    font-size: 1.6rem;
    font-weight: normal;
    color: #6096B4;
}
/* About-Html */
#Education{
    /* background-color: #91D8E4; */
    padding: 4% 8.5%;
   
}
.Heading{
    color: #6096B4;
    font-size: 3rem;
    font-weight: bold;
}
.site-link{
    font-size: 1.3rem;
    position: relative;
    text-decoration: none;
}
.site-link:hover{
    color:#F56EB3;
}
.site-link::after{
    content: "";
    position:absolute;
    background-color: #F56EB3;
    height: 3px;
    width: 0%;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
.site-link:hover:after{
    width: 100%;
}
.Course-title{
    color: #6096B4;
}
.course-name{
    /* color: #0081C9; */
    /* color: #82AAE3; */
    /* color: #ADA2FF; */
    color: #F56EB3;
    font-weight: bold;
}
.site-padding{
    padding-top: 5%;
}

/* Skills */
#Skills{
    padding-top: 4%;
}
.skills{
    text-align: left;
    width: 50%;
    margin: 100px auto;
    line-height: 2;
}
.code-img{
    width: 25%;
    height: 25%;
    float: left;
    margin-right: 5%;
    margin-bottom: 3%;
}
.information{
    /* color:#CB1C8D; */
    /* color: #A460ED; */
    color: #1C3879;
    font-size: 1.3rem;
}
.C-img{
    width: 25%;
    float: right;
    margin-left: 5%;
    margin-bottom: 3%;
}
/* footer */
#footer{
    background-color: #91d8e4;
    padding: 7% 15%;
    text-align: center;
}
.social-icon{
    font-size: 2rem;
    margin: 20px 10px;
    text-decoration: none;
    color: black;
}
.fa-facebook-f:hover{
    color: #3b5998;
}
.fa-instagram:hover{
    color: #c13087;
}
.fa-discord:hover{
    color: #5865F2;
}
.fa-envelope:hover{
    color: rgb(232, 232, 176);
}
.copyright{
    color: #F56EB3;
}
@media screen and (max-width:668px) {
 .skills{
    width: 80%;
 }  
 .Course-title{
   font-size: 1.5rem;
}
.Heading{
   font-size: 1.8rem;
}   
}
